@use "../colors" as *;
@use "../breakpoints" as *;
@use "../fonts";

/* styles for header for mobile */
.header {
  background-color: $band-site-black;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__band-logo {
    padding: 1.5rem 0 0.5rem 0;
  }

  &__navigation {
    width: 100%;
    height: auto;
  }

  &__menu {
    display: flex;

    &-item {
      height: 100%;
      color: $mercury;
      width: 50%;
      text-align: center;
      border-bottom: 3px solid transparent;

      &--active {
        color: $white;
        border-bottom: 3px solid $white;
        padding-bottom: 1rem;
      }

      &:hover {
        color: $white;
      }
    }
  }
}

/* styles for header on tablet device */
@include medium {
  .header {
    flex-direction: row;
    align-items: center;
    padding-top: 1rem;

    &__band-logo {
      margin-top: 1rem;
      padding: 0 0 1rem 2rem;
    }

    &__navigation {
      margin-top: 1.5rem;
      max-width: 30%;
    }

    &__menu {
      padding-left: 4rem;
      margin-bottom: 0;

      &-item {
        text-align: left;
        margin-right: 5rem;
        padding-bottom: 2rem;
      }
    }
  }
}

/* header styling for Desktop */
@include large {
  .header {
    padding-top: 0;
    padding-bottom: 0;

    &__band-logo {
      padding-top: 0.5rem;
      padding-left: 8rem;
    }

    &__navigation {
      max-width: 20%;
    }
  }
}
