@use "../colors" as *;
@use "../breakpoints" as *;


/* styles for header for mobile */
.header {
  background-color: $band-site-black;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__band-logo {
    padding: 1.5rem 0 0.5rem 0;
  }

  &__navigation {
    width: 100%;

  }

  &__menu {
    display: flex;

    &-item {

      color: $silver;
      width: 50%;
      text-align: center;
      border-bottom: 4px solid transparent;
      &--active {
        color: $white;
        border-bottom: 4px solid $white;
        padding-bottom: 1rem;
      }
    }
  }
}

/* styles for header on tablet device */
@include medium {
  .header {
    flex-direction: row;

    }

    &__navigation {
      width: 30%;
    }

    &__menu {

      padding-left: 4rem;

      &-item {
        text-align: left;
        margin-right: 5rem;

      }
    }
  }
}

/* header styling for Desktop */
@include large {
  .header {

  }
}
